 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{title}}</title>

<link rel="stylesheet" href="/vendor/bootstrap4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/vendor/fontawesome5.13.0/css/all.min.css">
<script src="/vendor/qrcodejs/jquery.min.js"></script>
<script src="/vendor/jquery3.5.1/jquery-3.5.1.js" ></script>

